{% extends 'base.html' %}
{% block content %}
    <h1>{{ poll['title'] }}</h1>
    {% if not user_choice['answered'] %}
    <form action="{{ url_for('main.make_choice') }}" method="post">
        <input type="hidden" name="poll_id" value = "{{ poll['id'] }}" />
        <input type="hidden" name="poll_url" value = "{{ poll['url'] }}" />
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Варианты ответа</legend>
                <div class="col-sm-10">
                    {% for option in options.keys()%}
                    <div class="form-check custom-control custom-radio">
                        <input class="form-check-input custom-control-input" type="radio" name="choice_id" id="gridRadios{{ options[option]['id'] }}" value="{{ options[option]['id'] }}" checked>
                        <label class="form-check-label custom-control-label" for="gridRadios{{ options[option]['id'] }}">
                            {{ option }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Голосовать</button>
            </div>
        </div>
    </form>
    {% else %}
        {% for option in options.keys()%}
            <p>{{ option }}{% if user_choice['choice_id'] == options[option]['id'] %}(Ваш выбор){% endif %} - {{ options[option]['count'] }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}