{% extends 'base.html' %}
{% block content %}
<h1 class="mt-5">
    {% if session['logged_in'] %}
    Привет, {{ session['first_name'] }} {{ session['last_name'] }}
    {% else %}
    Привет
    {% endif %}
</h1>
    {% if session['logged_in'] %}
    <h3 class="mt-5">Мои опросы:</h3>
    {% for poll in polls %}
        <p>
            <a href="{{ url_for('main.show_poll', url_of_poll=poll.url) }}">
                {{ poll.question }}
            </a>
        </p>
    {% else %}
    <p>У вас пока нет опросов, может пора создать? :)</p>
    {% endfor %}
    {% endif %}
{% endblock %}