{% extends 'base.html' %}

{% block title %}VK Poll - My polls{% endblock %}
{% block content %}
{% include 'nav.html' %}
<section class="mt-5">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 font-italic">My polls</h1>
        </div>
        {% for poll in polls %}
        <div class="poll">
            <h1 class="display-6 font-italic">
                <a href="{{ url_for('main.show_poll', url_of_poll=poll.url) }}">
                    {{ poll.question }}
                </a>
            </h1>
        </div>
        {% else %}
        <div class="text-center">
            <h1 class="display-4">There's nothing here. Maybe it's time to create a poll? :)</h1>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
