{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
    <section class="mt-5">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4 font-italic">{{ poll['title'] }}</h1>
                <div class="row">
                    <div class="col">
                        <time class="updated" itemprop="dateModified" datetime="{{ poll['time_of_creation'] }}">
                        </time>
                        {% if poll['user_id'] == session['user_id'] %}
                        <form method='POST' action="{{ url_for('main.dell_poll', poll_id=poll['id']) }}">
                            <input class="link" type="submit" value="delete" />
                        </form>
                        {% endif %}
                        <input class="link clipboard" data-clipboard-text="{{ request.base_url }}" value="Copy a link" />
                    </div>
                </div>
            </div>
            <div class="poll">
                {% if not user_choice.get('answered') %}
                <form action="{{ url_for('main.make_choice') }}" method="post">
                    <input type="hidden" name="poll_id" value = "{{ poll['id'] }}" />
                    <input type="hidden" name="poll_url" value = "{{ poll['url'] }}" />
                    <div class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Options</legend>
                            <div class="col-sm-10">
                                {% for option in options.keys()%}
                                <div class="form-check custom-control custom-radio">
                                    <input class="form-check-input custom-control-input" type="radio" name="choice_id" id="gridRadios{{ options[option]['id'] }}" value="{{ options[option]['id'] }}" checked>
                                    <label class="form-check-label custom-control-label" for="gridRadios{{ options[option]['id'] }}">
                                        {{ option }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if session.get('logged_in') %}
                    <div class="form-group row">
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary">Vote</button>
                        </div>
                    </div>
                    {% else %}
                    <p>You need to log in to vote.</p>
                    {% endif %}
                </form>
                {% else %}
                    {% for option in options.keys()%}
                <h3 class="display-6">{{ option }}{% if user_choice['choice_id'] == options[option]['id'] %}<small>(your choice)</small>{% endif %} - {{ options[option]['count'] }}</h3>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        new ClipboardJS('.clipboard');

        var now = moment();

        $('time').each(function(i, e) {
            var time = moment($(e).attr('datetime'));

            if(now.diff(time, 'days') <= 1) {
                $(e).html('<span>' + time.from(now) + '</span>');
            }
        });
    </script>
{% endblock %}